<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @name %> has sent you a contact request form!</h1>
    <p>
    Please reply back at <%= @email_address %>
    </p>
    <br>
    <br>
    <p>
      Message:: 
    </p>
    <p>
      <%= @message %>
    </p>
    <br>
    <br>
     =====================================================
  <%= link_to 'Animal Wishes', "http://www.animalwishes.org" %>
  </body>
</html>
