<%= @name %> has sent you a contact request form!</h1>


Please reply back at <%= @email_address %>

      Message::
 
      <%= @message %>
     =====================================================
  <%= link_to 'Animal Wishes', "http://www.animalwishes.org" %>
