    On behalf of the Animals, we thank you!

      We appreciate your donation of $<%= @amount %> to <%= @name %> the rooster
      An email has also been sent to Harvest Home Animal Sanctuary.
      Feel free to contact them at info@harvesthomesanctuary.org.

      Please come back again soon to see more of our animals: %= @url %.
    
      Thanks for your support and have a great day!</p>

