// Place all the styles related to the Animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// *= require helpers
h1 {
   text-align:center;
   color:white;
}

#topmenuitems {
    margin-top:1.5em;
    font-size:1.2em;
} 

#animalpage {
  margin:auto;
} 

#topBanner {
  background-color:#4e5d6c; 
  margin-bottom: 1.5em;
  padding-top:2em;
  padding-bottom: 2em;

  #topLine {
     font-size:1.5em;
  } 

  #bottomLine {
     font-size:1em;
  }
}

.aboutImg {
    padding:0.5em;
    height:auto;
    width:85%;
    max-width:350px;
    max-height:300px;
}
.animalindex {
//  background-color: #0174df;
  color:yellow;
  text-align:center;
  height:25em;
  
  img {
    padding:0.5em;
    height:auto;
    width:85%;
    max-width:250px;
    max-height:200px;
  }

  a {
   margin-left:auto;
   margin-right:auto;
   color: yellow;
   font-size:0.8em;
   text-align:center;
  }
}

#animalorg {
//  background-color: #0174df;
  color:yellow;
  text-align:center;
  
  a {
   margin-left:auto;
   margin-right:auto;
   color: yellow;
   font-size:1.2em;
   text-align:center;
  }

 
}
#animalcaption {
  color:white;
}

#animalname {
  text-align:center;  
  color:black;
  font-size:1.3em;
}
#animalneed {
  text-align:center;  
  font-size:1.1em;
}

#animaldescription {
  font-size:0.8em;
}

#animalamountindexpage {
  position:absolute;
  font-size:0.7em;
  bottom:1em;
  right:10%;
}
#animalamountshowpage {
  margin-left:75%;
}

.main-text {
    position: absolute;
    top: 50%;
    left: 25%;
    margin-right:auto;
    color: #FFF;
}

.donateField {
    height:2.6em;
    margin:5px;
}
.carousel-caption {
text-shadow: 2px 2px 18px rgba(255, 255, 255, 1);
}
