
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// *= require helpers
@import "bootstrap-sprockets";
@import "bootstrap";
@import "GoogleFontFamilyLato";
@import "bootswitch";
@import "animals.scss";
@import "header.scss"; 
@import "simple-sidebar.scss"; 

body {
// background-color: #0a122a;
}

#pageheader {
   text-align:center;
} 

#categoryselect {
   padding-top: 2em;
   height:4em;
   text-color: black;
}

#dropdownMenu1 {
   float:right;
}
#dropdownMenu2 {
   float:right;
}

.dropdown-menu li .selected {
   font-size:1em;
   font-weight:bold;
}


