#brand {
    font-weight: 900;
    font-stretch: ultra-condensed;
}

#topnavbar {
  font-size:1em;
}

#dropdownmenu {
   a {
      font-size:1em;
   }
}

#dropdownsearch {
   font-size:0.9em;
   font-size:1em;
   height:2.2em;
}

#submitsearch {
   margin:0.4em; 
   position:absolute;
   left: 70%;
   font-size:0.5em;
}
