
<div class="container">

<div class="row text-al-center" id="topBanner">
<div id="topLine">About AnimalWishes</div>
</div>

<div class="row"> 
<div class="col-md-2 ">
<%= image_tag("Self.jpg", class:"aboutImg") %>
</div>
<div class="col-md-8">
My name is Shalabh. I am a software professional living
in the San Francisco Bay area. I created this website to 
help animals and the sanctuaries that take care of them. 
<br>
<br>
A lot of Animal Sanctuaries are doing great work harboring and nurturing
animals that have been abandoned or escaped from factory farms and other
terrible conditions. 
<br>
<br>
A lot of them have separate web sites and we felt there was a need for a 
common platform to unite them so that animal lovers can discover more animals
and sanctuaries on one page.
<br>
<br>
A 100% of your donations go to the sanctuary & animals you choose. 
However, we do rely on any additional donations to keep this website running.
</div>
</div>

</div>
