<div class="container">
<div class="col-sm-offset-3 col-sm-6">
<%= render 'organizations/show' %>
<br>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
</div>
</div>
